.contactsCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 22%;
  @media (max-width: 992px) {
    margin: auto;
    margin-top: 8vw;
    width: auto;
    text-align: center;
  }
  h1,
  p {
    color: white;
  }
  .contacts-heading {
    margin-bottom: 1vw;
  }
  .contacts {
    @media (max-width: 992px) {
      margin-top: 3.44vw;
    }
    p {
      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .smLinks {
    display: flex;
    width: 100%;
    gap: 20px;
    img {
      width: 40px;
      border-radius: 50%;
    }
  }
}
