html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-width: 500px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-radius button {
  padding: 10px 40px;
  border-radius: 25px;
}

.logo {
  min-height: 100%;
  display: flex;
  align-items: center;
}

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}
.navbar-nav {
  display: flex !important;
  align-items: center !important;
}
.logout-anchor {
  cursor: pointer;
}
/* Header css starts */
.header {
  background-image: url("/images/header-map.jpg");
  width: 100%;
  min-height: 90vh;
}
.phone-img {
  width: 50%;
  height: 100%;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.rent {
  display: flex;
  align-items: center;
  color: #fff;
  text-align: left;
  width: 50px;
}
.reach-btn button {
  width: 80%;
}
.reach-btn .btn.btn-warning {
  background-color: #f47521;
  border: none;
  color: #fff;
  margin-top: 20px;
}

/* Header css ends */

/* Rent bike css starts */
.rent-bike {
  width: 100%;
  height: auto;
  background-color: #1f2428;
  margin-top: 20px;
  padding: 40px 0;
}

.rent-bike h1 {
  color: #fff;
}

.cycle-img {
  margin-top: 50px;
  border-radius: 50%;
  padding: 60px 40px;
  background-image: url("/images/cycle-1.jpg");
  background-size: cover;
  background-position: center;
  width: 260px;
  height: 260px;
}
@media (max-width: 1200px) {
  .cycle-img {
    width: 210px;
    height: 210px;
  }
}
@media (max-width: 991px) {
  .cycle-img {
    width: 160px;
    height: 160px;
  }
  .payment {
    width: 10rem !important;
  }
  .btn-radius button {
    padding: 10px 15px;
  }
  .payment__amount {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .cycle-img {
    width: 300px;
    height: 300px;
  }
  .rent-bike-content h5 {
    font-size: 20px;
  }
  .rent-bike-content p {
    font-size: 15px;
  }
  .payment {
    margin: 10px 0;
  }
  .card__container {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 360px) {
  .cycle-img {
    width: 250px;
    height: 250px;
  }
}

.cycle2-img {
  background-image: url("/images/cycle2.jpeg");
  background-size: cover;
  background-position: center;
}

.cycle3-img {
  background-image: url("/images/cycle-3.jpg");
  background-size: cover;
  background-position: center;
}

.cycle4-img {
  background-image: url("/images/cycle-4.jpg");
  background-size: cover;
  background-position: center;
}

.rent-bike-content {
  color: #fff;
  /* text-align: center; */
  justify-content: center;
  padding: 25px 25px;
}

/* Rent bike css ends */

/* Faq css starts */
.faq {
  margin-top: 50px;
  margin-bottom: 30px;
}
.faq__accordian {
  width: 50%;
  margin-top: 20px;
}

.faqArabic {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* align-items: center; */
}
.faqArabic__accordian {
  width: 50%;
  margin-top: 20px;
}
/* Faq css ends */

/* Footer css starts */

.faq__footer {
  margin-top: 30px;
  background-color: #1f2428;
  width: 100%;
  /* height: 50vh; */
}
.faq__logo {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq__logo h1 {
  color: #fff;
}

.faq__footerbtn button {
  width: 50%;
}
.faq__footerbtn .btn.btn-warning {
  background-color: #f47521;
  border: none;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 40px;
}

.faq__subscribe h4 {
  color: #f47521;
  padding-top: 50px;
}

/* Footer css ends */

/* Blog css starts */

.bike {
  width: 100%;
  height: 40vh;
  background: url("/images/bike.jpg");
  background-size: cover;
  background-position: 0% 30%;
}
.blog-image {
  height: 50% !important;
  object-fit: cover;
}

.bike h1 {
  padding: 110px 110px 110px 110px;
}

/* Blog css ends */

/* Blog list css starts */

.blog__list {
  margin-top: 50px;
}
.blogList-content span {
  color: rgba(9, 106, 208, 0.6);
}
.blogList-content h3 {
  padding: 20px 0px 0px 0px;
}
.readmore-btn {
  cursor: pointer;
  text-decoration: underline;
  color: rgba(9, 106, 208, 0.6);
}

/* Blog list css ends */

/* Verification css starts */
.continue-btn button {
  width: 40%;
}

/* Verification css ends */

/* Map css starts */
.station {
  display: flex;
  align-items: center;
  color: #fff;
  text-align: left;
  width: 50px;
}

.station h2 {
  color: #f47521;
}

.map {
  height: 50vh;
  margin-top: 20px;
}

.station__heading {
  width: 100%;
  text-align: center;
}
/* Map css ends */

/* Payment css starts */
.payment {
  width: 13rem;
}

/* Payment css ends */

/* Marker css starts */
.marker {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #dd4b3e;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}
.marker:after {
  content: "";
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #e6e6e6;
  position: absolute;
  border-radius: 50%;
}
/* Marker css ends */

/* info window css starts */
.info__window p {
  font-size: 18px;
  font-size: bold;
}

/* .info__window h5 {
  margin-top: 50px;
} */
/* info window css ends */
