.Arabic {
  h1,
  p {
    text-align: right;
  }
  h2 {
    text-align: right;
  }
  div {
    align-items: flex-end;
  }
}
.pageContainer {
  height: 93vh;
  background-image: url(https://www.donkey.bike/wp-content/uploads/2021/09/how-it-works-scaled.jpg);
  @media (max-width: 992px) {
    background-position: 50% 10%;
  }
  .pageIntroContainer {
    background: rgba($color: #303544, $alpha: 0.3);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;

    h1 {
      font-weight: 800;
    }
    h1,
    p {
      color: white;
      width: 30%;
      @media (max-width: 992px) {
        width: auto;
      }
    }
  }
  .howItWorks {
    padding: 200px 100px;
    @media (max-width: 992px) {
      width: 100%;
      padding: 100px 50px;
    }
    h1 {
      margin-bottom: 90px;
      font-weight: 800;
    }

    .hiwRow {
      display: flex;
      justify-content: space-around;
      align-items: center;
      @media (max-width: 992px) {
        flex-direction: column-reverse;
        &.diff-row {
          flex-direction: column-reverse;
        }
      }

      .hiwRowText {
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
          width: 60%;
          @media (max-width: 992px) {
            width: auto;
          }
        }
      }
    }
  }
  .dlTheApp {
    text-align: center;
    padding: 0 0 30px;
    margin: auto;
  }
}
